body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    /* height: 100vh; Full screen height */
    /*margin: 0;*/
}

.stock-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e1e1e;
    padding: 15px;
    width: 90%;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: white;
}

.company-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.company-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Stock Data */
.stock-data {
    display: flex;
    border: 1px solid rgb(142, 140, 140);
}

.data-box {
    background: #2a2a2a;
    padding: 10px;
    padding-top: 5px;
    width: 170px;
}

.data-box p{
    color: rgb(142, 140, 140);
    font-size: 16px;
}

/* Profit Box */
#profit-box.positive {
    background-color: #14532d;
}

#profit-box.negative {
    background-color: #7f1d1d;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buy-btn {
    background-color: green;
    width: 170px;
}

.sell-btn {
    background-color: red;
    width: 170px;
}

.buy-btn:hover {
    background-color: #0b6e0b;
}

.sell-btn:hover {
    background-color: #a10808;
}

/* Dialog Box */
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    z-index: 1000;
    width: 300px;
    display: none;
}

.dialog-content h2 {
    margin-bottom: 10px;
}

.share-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.share-box {
    padding: 10px;
    /*border: 2px solid white;*/
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.share-box.selected {
    background-color: #007bff;
    color: white;
}

/* Dialog Buttons */
.dialog-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.dialog-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialog-buttons button:first-child {
    background: gray;
}

.dialog-buttons button:last-child {
    background: green;
}

.dialog-buttons button:hover {
    opacity: 0.8;
}
