body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header .icon {
    width: 50px;
    height: 50px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

.teams {
    margin-top: 20px;
    /* margin-left: 350px; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.team {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #f0f0f0;
    border-radius: 6px;
    margin: 5px 0;
    cursor: pointer;
    width: 750px;
    align-items: center;
}

.parent-div{
    position: relative;
    /* margin-left: 300px; */
}

.team.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.footer {
    margin-top: 400px;
}

button {
    width: 770px;
    padding: 10px;
    background: #9370db;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    /*cursor: not-allowed;*/
    opacity: 1;
}
