body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #e8f5e9); /* light blue to light green */
    margin: 0;
    padding: 40px;
    color: #333;
  }
  
  .leaderboard-container {
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
  }

  .leaderboard-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .leaderboard-title {
    text-align: center;
    /*margin-bottom: 20px;*/
    font-size: 28px;
    color: #6a1b9a; /* violet */
  }
  
  .tabs {
    display: flex;
    justify-content: left;
    margin-bottom: 16px;
    gap: 15px;
  }
  
  .tab-btn {
    padding: 10px 18px;
    background-color: #c8e6c9; /* light green */
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
  }
  
  .tab-btn.active {
    background-color: #b39ddb; /* violet */
    color: white;
    transform: scale(1.05);
  }
  
  .tab-btn:hover {
    background-color: #aed581;
  }
  
  .search-input {
    width: 34%;
    padding: 10px 16px;
    /*margin-bottom: 20px;*/
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  
  .leaderboard-content {
    border-top: 2px solid #cfd8dc;
    padding-top: 20px;
  }
  
  .rank-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
  }
  
  .rank-entry:nth-child(even) {
    background-color: #f3faff; /* light bluish highlight */
  }
  
  .rank {
    padding: 10px;
    border-radius: 20px;
    /*background-color: #a0a2a3;*/
    font-weight: bold;
    color: #00796b
  }

  .gold-rank {
    background-color: rgb(255, 215, 0, 0.5);
    color: rgb(255, 132, 0);
  }
  
  .silver-rank {
    background-color: silver;
    color: black;
  }
  
  .bronze-rank {
    background-color: #cd7f32; /* bronze color */
    color: white;
  }
  .icon1{
    margin-right: 10px;
  }
  